QWidget {
    background-color: #252526;
}

QPushButton {
    background-color: #3c3c3c;
    border-style: solid;
    height: 30px;
    color: #bfbfbf;
}

QPushButton:hover {
    background-color: #505050;
}

QWidget#dat {
    border-right: 1px solid rgba(191, 191, 191, 0.2);
    border-bottom: 1px solid rgba(191, 191, 191, 0.2);
}

QLabel {
    qproperty-alignment: AlignCenter;
    color: #bfbfbf;
    font-size: 18px;
    border-bottom: 1px solid rgba(191, 191, 191, 0.2);
}

QLabel#param {
    qproperty-alignment: "AlignVCenter | AlignRight";
    border-bottom: 0px;
}

QLabel#num {
    qproperty-alignment: "AlignVCenter | AlignLeft";
    border-bottom: 0px;
}
